apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  destination:
    name: in-cluster
    namespace: cert-manager

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true

  sources:
  - repoURL: https://charts.jetstack.io
    chart: cert-manager
    targetRevision: v1.19.2
    helm:
      releaseName: cert-manager
      skipCrds: false
      values: |
        global:
          imagePullSecrets: []
          commonLabels: {}
          priorityClassName: "critical-resilient"
          rbac:
            create: true
            aggregateClusterRoles: true
          podSecurityPolicy:
            enabled: false
            useAppArmor: true
          logLevel: 2
          leaderElection:
            namespace: "cert-manager"

        crds:
          enabled: true
          keep: true

        webhook:
          networkPolicy:
            enabled: false
          timeoutSeconds: 10
          hostNetwork: false

        serviceAccount:
          create: true
          automountServiceAccountToken: true

        podDisruptionBudget:
          enabled: false

        featureGates: ""
        maxConcurrentChallenges: 60

        namespace: cert-manager

        resources:
          requests:
            cpu: 100m
            memory: 128Mi

        securityContext:
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault

        containerSecurityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
          readOnlyRootFilesystem: true

        enableServiceLinks: false

        prometheus:
          enabled: true

  - repoURL: https://github.com/TheRayquaza/k8s-sandbox.git
    targetRevision: main
    path: k8s/cert-manager
