---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    app: cilium
spec:
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
  destination:
    name: in-cluster
    namespace: kube-system
  sources:
    - repoURL: https://helm.cilium.io/
      chart: cilium
      targetRevision: 1.18.5
      helm:
        values: |
          # -------------------------------------------------------------------
          # Hubble Relay & UI
          # -------------------------------------------------------------------
          hubble:
            relay:
              enabled: true
            ui:
              enabled: true

          # -------------------------------------------------------------------
          # Gateway API
          # -------------------------------------------------------------------
          gatewayAPI:
            enabled: true

          # -------------------------------------------------------------------
          # kube-proxy replacement
          # -------------------------------------------------------------------
          kubeProxyReplacement: true
          k8sServiceHost: "10.20.0.1"
          k8sServicePort: "6443"

          # -------------------------------------------------------------------
          # BPF & datapath
          # -------------------------------------------------------------------
          bpf:
            masquerade: true

          # -------------------------------------------------------------------
          # Metrics & monitoring
          # -------------------------------------------------------------------
          monitor:
            enabled: true

          # -------------------------------------------------------------------
          # Operator
          # -------------------------------------------------------------------
          operator:
            replicas: 1
            nodeGCInterval: 5m

          # -------------------------------------------------------------------
          # Miscellaneous
          # -------------------------------------------------------------------
          priorityClassName: system-cluster-critical

    - repoURL: https://github.com/TheRayquaza/k8s-sandbox.git
      targetRevision: HEAD
      path: k8s/cilium
