apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  destination:
    name: in-cluster
    namespace: external-secrets

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true

  sources:
  - repoURL: https://charts.external-secrets.io
    chart: external-secrets
    targetRevision: 0.20.1
    helm:
      releaseName: external-secrets
      skipCrds: false
      values: |
        replicaCount: 1

        image:
          repository: oci.external-secrets.io/external-secrets/external-secrets
          pullPolicy: IfNotPresent

        installCRDs: true

        crds:
          createClusterExternalSecret: true
          createClusterSecretStore: true
          createClusterGenerator: true
          createClusterPushSecret: true
          createPushSecret: true

        log:
          level: info

        serviceAccount:
          create: true
          automount: true

        priorityClassName: "critical-resilient"

        podSecurityContext:
          fsGroup: 3006
          fsGroupChangePolicy: OnRootMismatch

        securityContext:
          enabled: true
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1006
          runAsGroup: 2006
          capabilities:
            drop: ["ALL"]
          seccompProfile:
            type: RuntimeDefault

        resources:
          requests:
            cpu: 10m
            memory: 32Mi

        webhook:
          create: true
          failurePolicy: Fail
          replicaCount: 1

        certController:
          create: true
          replicaCount: 1

  - repoURL: https://github.com/TheRayquaza/k8s-sandbox.git
    targetRevision: main
    path: k8s/external-secrets
