apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pinchflat
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1" # after es
spec:
  project: default
  destination:
    name: in-cluster
    namespace: pinchflat

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true

  sources:
  - repoURL: https://github.com/TheRayquaza/k8s-sandbox.git
    targetRevision: main
    path: k8s/pinchflat
