apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1" # after es
spec:
  project: default
  destination:
    name: in-cluster
    namespace: vault

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true

  sources:
  - repoURL: https://helm.releases.hashicorp.com
    chart: vault
    targetRevision: 0.30.1
    helm:
      releaseName: vault
      skipCrds: false
      values: |
        global:
          enabled: true
          namespace: vault
          tlsDisable: true

        injector:
          enabled: false

        server:
          enabled: true

          image:
            repository: hashicorp/vault
            tag: "1.20.1"
            pullPolicy: IfNotPresent

          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: ScheduleAnyway
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: vault

          persistentVolumeClaimRetentionPolicy:
            whenDeleted: Retain
            whenScaled: Retain

          dataStorage:
            enabled: true
            size: 10Gi
            mountPath: /vault/data
            accessMode: ReadWriteOnce

          resources:
            requests:
              memory: 128Mi
              cpu: 200m
            limits:
              memory: 256Mi
              cpu: 300m

          standalone:
            enabled: true
            config: |
              ui = true
              listener "tcp" {
                tls_disable = 1
                address = "[::]:8200"
                cluster_address = "[::]:8201"
              }
              storage "file" {
                path = "/vault/data"
              }
              telemetry {
                disable_hostname = true
                prometheus_retention_time = "12h"
              }

          priorityClassName: "critical-resilient"

          ingress:
            enabled: false

          annotations:
            ad.datadoghq.com/vault.checks: |
              {
                "vault": {
                  "init_config": {},
                  "instances": [
                    {
                      "api_url": "http://%%host%%:8200/v1"
                    }
                  ]
                }
              }
            ad.datadoghq.com/vault.logs: |
              [
                {
                  "source": "vault",
                  "service": "vault"
                }
              ]

          ui:
            enabled: true
            serviceType: ClusterIP
            externalPort: 8200
            targetPort: 8200

  - repoURL: https://github.com/TheRayquaza/k8s-sandbox.git
    targetRevision: main
    path: k8s/vault
